body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Vogue' ;
  src: url("../Fuentes/Vogue.ttf");
}

#enlace-inicio {
  color: #9e00ff !important;
}

#enlace-inicio:hover{
  color: #5f05d3 !important;
}


.el_fondo {
  background-color: #161B29;
}

.encabezado{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-gap: 24px;
  margin: 10px 0px 100px 0px;
  margin-bottom: 40px;
  overflow: hidden;
}

.encabezado2{
  display: grid;
  grid-template-columns: 8fr;
  grid-gap: 24px;
  margin: 10px 400px 100px 400px;
  margin-bottom: 40px;
  overflow: hidden;
}

.barraLogin{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 3fr;
  background: rgb(15, 11, 92);
  animation: only-border 5s ease infinite;
  position: sticky;
  top: 0px;
  width: 100%;
  clear: both;
  height: 100%;
  z-index: 1;
  text-align: center;
  margin: auto;
}

.celda{
  padding-top: 6px;
  padding-bottom: 6px;
}

.celdaDerecha{
  padding-top: 6px;
  padding-bottom: 6px;
}

.texto_login{
  font-size: 25px;
  text-align: center;
  font-family: 'Vogue';
  padding-top: 5px;
  animation: texto 5s ease infinite;
}

.texto_cambio{
  font-size: 25px;
  text-align: center;
  font-family: 'Vogue';
  padding-top: 5px;
  color: #161B29;
}

/*a{
  animation: texto 5s ease infinite;
}*/
.el_titulo{
  background: rgb(15, 11, 92);
  border-radius: 30px;
  text-align: center;
  font-size: 50px;
  font-family: 'Vogue';
  padding-top: 17px;
  padding-bottom: 10px;
  margin: 10px;
  animation: el_titulo 5s ease infinite;
  box-shadow: 0px 5px white ;
}

.flexboxColumna{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.flexboxRow{
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.dropdown {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(15, 11, 92);
  border-radius: 10px;
  animation: only-border 5s ease infinite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link{
  text-decoration:none;
}

.link:hover{
  text-decoration: underline;
}

.logo_poli{
  place-self: center;
  width: 70px;
  height: 70px;;
}


.logo_poli:hover {
  animation: shake 0.3ms;
  animation-iteration-count: infinite;
}

.boton{
  border-style: none;
  list-style: none;
  border-collapse: collapse;
  color: white;
  background: rgb(15, 11, 92);
  animation: columna_sup 5s ease infinite;
  width: 90%;
  height: 6%;
  font-size: large;
  text-align: center;
  border-radius: 10px;
  animation: texto 5s ease infinite;
  animation: only-border 5s ease infinite;
}

.tabla{
  border-collapse: collapse;
  color:black;
  background: rgb(15, 11, 92);
  margin: auto;
  width: 70%;
  height: 60%;
  text-align: center;
  font-size: 30px;
  font-family: 'Vogue';
  border-radius: 15px;
  overflow:hidden;
  animation: only-border 5s ease infinite;
}

thead{
  background-color: rgb(10, 14, 36);
  animation: columna_sup 5s ease infinite;
  padding-top: 3px;
}

#especial td{
padding: 10px;
}

#especial th{
  padding-top: 6px;
}

#especial tr:nth-child(even){
background-color: rgb(58, 52, 179)
}

#especial tr{
animation: texto 5s ease infinite;
}

#especial :not(thead) tr:hover{
background-color: #d8d5d5 ;
color: black !important;
}

img.funcionx {
  transition: all 0.5s ease;
  scale: 100%;
  width: 80px;
  height: 80px;
  padding: 10px;
  filter: grayscale(0%);
}

.funcionx:hover{
  scale: 110%;
  transition: all 0.5s ease;
  filter: grayscale(100%);
}

img.funcionx2 {
  transition: all 0.5s ease;
  scale: 100%;
  width: 200px;
  height: 200px;
  padding: 10px;
  filter: grayscale(0%);
}

.funcionx2:hover{
  scale: 110%;
  transition: all 0.5s ease;
  filter: grayscale(100%);
}




.funciony{
  place-self: center;
  width: 70px;
  height: 70px;;
  transition: all 1s ease;
  filter:brightness(100%);
  filter: contrast(100%);
  
}

.funciony:hover{
  
  transition: all 5s ease;
  filter:brightness(100%);
  filter: contrast(1000%);
}


html {
  height:100%;
}

body {
  line-height: inherit !important;
  margin:0;
}

.bg {
  /*animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f37d2e 50%, #00005c 50%, #ffffff 100%);*/
  background: rgb(36,26,212);
  background: linear-gradient(90deg, rgba(36,26,212,1) 25%, rgba(0,148,251,1) 50%, rgba(36,26,212,1) 75%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
} 

h1 {
  font-family:monospace;
}

/*keyframes*/

/*@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}*/

@keyframes columna_sup{
  0%,
  100%{
      color: #bc13fe;
  }
  67%{
      color:  #e645d0;
  }
  33%{
  color:  #17e1e6;
  }
  }

  @keyframes only-border {
    0%,
    100%{
        box-shadow: 0vw 0vw 0vw .1vw #bb13fe83, 0vw 0vw 1.5vw 0vw #bb13fe83;
        /*color: #bc13fe;*/
    }
    67%{
        box-shadow: 0vw 0vw 0vw .1vw #e645d0, 0vw 0vw 1.5vw 0vw #e645d0;
        /*color: #e645d0;*/
    }
    33%{
        box-shadow: 0vw 0vw 0vw .1vw #4570e6, 0vw 0vw 1.5vw 0vw #4570e6;
        /*color: #17e1e6;*/
    }
    /*box-shadow: 0vw 0vw 0vw .1vw #0c5c5e, 0vw 0vw 1.5w 0vw #0c5c5e;*/
    }

    @keyframes el_titulo {
      0%,
      100%{
          box-shadow: inset 0vw 0vw 0vw .1vw #bc13fe, 0vw 0vw 1.5vw 0vw #bc13fe;
          text-shadow: 4px 4px 2px #bb13fe83;
          color: #bc13fe;
          /*color: #bc13fe;*/
      }
      67%{
          box-shadow: inset 0vw 0vw 0vw .1vw #e645d0, 0vw 0vw 1.5vw 0vw #e645d0;
          text-shadow: 4px 4px 2px #e645d179;
          color: #e645d0;
          /*color: #e645d0;*/
      }
      33%{
          box-shadow: inset 0vw 0vw 0vw .1vw #17e1e6, 0vw 0vw 1.5vw 0vw #17e1e6;
          text-shadow: 4px 4px 2px #17e3e66c;
          color: #17e1e6;
          /*color: #17e1e6;*/
      }
    }

    @keyframes texto {
      0%,
      100%{
        color: #bc13fe;
      }
      67%{
        color: #e645d0;
      }
      33%{
        color: #17e1e6;
      }
    }/*rgba(0,0,0,1) 0%, rgba(255,141,0,1) 36%, rgba(223,221,53,1)*/

    @keyframes shake {
      0%{transform: translate(2px,0px);}
      25%{transform: translate(-4px,0px);}
      50%{transform: translate(+2px,+2px);}
      75%{transform: translate(0px,-4px);}
      100%{transform: translate(0px,0px);}
    }
 

